<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <title>Aim for the Red</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body style="cursor: crosshair; height: 55em; width: 55em; margin-left: 25em; position: fixed;" >
<br>
<svg id="Shoot" style="outline: none; position: absolute; pointer-events:visiblePainted; display: block" visibility="hidden"><circle visibility="visible" cx="50" cy="50" r="25"  id="Shooter" onclick="newMove()" fill="red"></circle></svg>
<div id="place" onclick="missy()" style="height: 100%; width: 100%; border: black; border: solid;"></div>
<div style="display: inline-block; margin-left: 35%"><p id="hits" style="display: inline-block"></p> <p id="missing" style="display: inline-block; margin: auto"></p></div>
<script src="/static/myScript.js">
</script>
</body>
</html>